<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642886909385-a47hu8jnkh3gtba8r4uooji8grlif7ac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642886909385-a47hu8jnkh3gtba8r4uooji8grlif7ac</string>
	<key>API_KEY</key>
	<string>AIzaSyCY16ojDE-_XEnEudeP2252aPPaUBMRYt8</string>
	<key>GCM_SENDER_ID</key>
	<string>642886909385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fullsailteam.FinalProject</string>
	<key>PROJECT_ID</key>
	<string>finalproject-d5b01</string>
	<key>STORAGE_BUCKET</key>
	<string>finalproject-d5b01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642886909385:ios:a998a275d50b3c88</string>
	<key>DATABASE_URL</key>
	<string>https://finalproject-d5b01.firebaseio.com</string>
</dict>
</plist>